<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>SpringApp-LibraryGames</display-name>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<display-name>GameServlet</display-name>
		<servlet-name>GameServlet</servlet-name>
		<init-param>
			<param-name>name</param-name>
			<param-value>Not provided</param-value>
		</init-param>
		<init-param>
			<param-name>gender</param-name>
			<param-value>Not provided</param-value>
		</init-param>
	</servlet>

	<context-param>
		<param-name>game1</param-name>
		<param-value>APEX</param-value>
	</context-param>
	<context-param>
		<param-name>param2</param-name>
		<param-value>Counter</param-value>
	</context-param>

</web-app>